@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto","sans-serif"
}
header{
    background: rgba(45, 49, 125, 0.6);
    padding: 1em;
}
.row{
    display: flex;
}
.logos{
    justify-content: space-between;
}
.nav_links{
    text-align: center;
    display: none;
}
ul{
    list-style-type: none;
}
.nav_links a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: "Oswald","sans-serif";
  letter-spacing: 1px;
}
.nav_links a:hover{
    color: red;
}
.toggle{
    display: block;
}
.nav_links li+li{
    margin-top: 1em;
}
#items{
    padding: 1em;
    background: #9D498B;
}
.item{
    background: #785252;
    width: 17em;
    height: 20em;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.item_img{
    width: 10em;
    margin: 0 auto 0 auto;
    padding: 0.5em;
}
.item_img img{
    width: 100%;
}

.item + .item{
    margin-top: 1em;
}
.item_name{
    text-align: center;
    padding: 0.5em;

}
.item_details{
    text-align: center;
    position: relative;
}
.item_price{
    text-align: center;
    margin-top: 1em;
}
.item_name h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(88, 36, 170);
    font-size: 1.5rem;
    
}
.item_details p{
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
}
.item_details:hover::after{
    content:"";
    display:block;
    width: 4em;
    height: 2px;
    background-color: rgb(44, 9, 109);
    position: absolute;
    left: 6.5em;font-variant: small-caps;
}

.item_price p{
    color: aqua;
    font-size: 1.2rem;
}
.item_btn{
    margin-top: 1em;
    text-align: center;
}
.item_btn button{
    width: 10em;
    height: 2em;
    font-size: 1.5rem;
    color: #9D498B;
    background-color: black;
    outline-style: none;
    border-style: none;
    border-radius: 0.5em;
}
footer{
    padding: 1em;
    background: rgba(45, 49, 125, 0.6);
}
.content{
    padding: 1em;
}
.content_text{
  text-align: center;
}
.content_text_right{
    width: 100%;
    max-width: 15em;
    margin: 0 auto;
    justify-content: space-evenly;
}
.content_text p{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: rgba(245, 234, 234, 0.89);
}
.content_text_left{
    width: 100%;
    max-width: 20em;
    margin: 0 auto;
    justify-content: space-evenly;
}
.social_media{
    text-align: center;
    margin: 1em;
}
.copyright{
    text-align: center;
}
.copyright p{
    color: rgb(35, 33, 153);
}
/* this is the desktop view */
@media (min-width:700px){
    .container{
        width: 100%;
        max-width: 70em;
        margin: 0 auto;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sandwitch_btn{
        display: none;
    }
    .nav_links{
        display: block;
    }
    .nav_links ul{
        display: flex;
    }
    .nav_links li{
        margin: 1em;
    }
    .main_items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item{
        margin:1em
    }
    .content_text{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        position: relative;
    }
    .content_text_right{
        max-width: 30%;
    }
    .content_text_middle{
        max-width: 30%;
        text-align: center;
    }
    .content_text_left{
        max-width: 30%;
    }
    .content_text::after{
        content: "";
        position: absolute;
        background-color: darkblue;
        width: 80%;
        height: 2px;
        display: block;
        top: 2em;
    }

}